@import "../stylix/palette.css";
* {
  font-family: "Cozette";
  font-style: normal;
  font-weight: normal;
  font-size: 16pt;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

#workspaces button.active {
  color: @base0C;
}
