@import "../stylix/palette.css";
* {
  font-family: "FiraCode Nerd Font";
  font-style: normal;
  font-weight: normal;
  font-size: 16pt;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

#pulseaudio, #custom-music {
  color: @base0A;
}

#language {
  color: @base08;
}

#submap {
  color: @base0C;
}
#workspaces button{
  color: @base0B;
}

#workspaces button.active {
  color: @base08;
}

#battery {
  color: @base0D;
}

#battery.half {
  color: @base0F;
}

#battery.warning{
  color: @base0A;
}

#battery.critical {
  color: @base08;
  animation-name: blink;
  animation-duration        : 0.5s;
  animation-timing-function : linear;
  animation-iteration-count : infinite;
  animation-direction       : alternate;
}

#battery.charging {
  color: @base0C;
  animation-name: blinkblue;
  animation-duration        : 2.0s;
  animation-timing-function : linear;
  animation-iteration-count : infinite;
  animation-direction       : alternate;
}

#network {
  /* color: @base0D; */
  color: @base0B;
}

#clock {
  color: @base0F;
}

@keyframes blink {
    to {
        color: black;
    }
}
@keyframes blinkblue {
    to {
        color: @base0D;
    }
}
